parallel.pre-commit*.log
__pycache__
interrogate_badge.svg
pyintlab.egg-info
.pyre/
.watchmanconfig
pyre_statistics
typings/
dist/
htmlcov/
.coverage
git_commit.out
poetry.out
*.log
.mypy_cache
monkeytype.sqlite3
git-story_media/
