[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
disable_pip_input = true
sort_pipfile = true

[packages]

[dev-packages]
black = ">=25.1"
mypy = ">=1.15"
numpy = ">=2.2.2"
pylint = ">=3.3.4"
pyright = ">=1.1.393"
pytest = ">=8.3.4"
ruff = ">=0.9.4"
sourcery = ">=1.33"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
