#<https://github.com/bewuethr/mdl-action/blob/master/.github/workflows/lint.yml> LOOK THERE
name: Basti-Test
on:
  workflow_dispatch:
#  push:
#    branches: ["main", "master"]
#  pull_request:
#    branches: ["main", "master"]
jobs:
  typing:
    runs-on: ubuntu-latest
    steps:
      - name: Checks-out your repository under $GITHUB_WORKSPACE
        uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade mypy numpy pytest
      - name: Analysing the code with mypy
        run: |
          mypy --strict --install-types --non-interactive --show-error-codes --show-error-context src/pyintlab
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checks-out your repository under $GITHUB_WORKSPACE
        uses: actions/checkout@v2
      - name: Codecov
        uses: codecov/codecov-action@latest
